*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    display: block;
    background-image: radial-gradient(red, white, orange);
    text-align: center;
    font-size: 5rem;
    min-height: 100vh;
}